body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 300px;
    background-color: antiquewhite;
}

nav {
    width: 300;
    background-color: azure;
}


#treepic {
    width: 100px;
    height: 100px;
}