body {
    font-family: Arial, sans-serif;
    background-color: #a0b0e7; /* Light blue background */
    color: #333; /* Darker text */
    margin: 10;
    padding: 0;
}

header {
    font-family: 'Brush Script MT', cursive; /* Script font for title */
    background : #1e3a8a; /* Dark navy blue */
    color: #fff;
}

header .namestyle {
    font-family: 'Brush Script MT', cursive; /* Script font for title */
    font-size: 48px;
    margin: 0;
}

.navy {
    color: #1e2536; /* Navy blue for */
}

.purple {
    color: rgb(120, 19, 235);
} 

.gray {
    color: rgb(114, 113, 115);
} 

.green {
    color: rgb(54, 125, 7);
} 


.namestyle {
    font-family: 'Brush Script MT', cursive; /* Script font for title */
    font-size: 48px;
    margin: 0;
}
   
