/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header styles */
header {
    background-image: url('jjkbackground.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    padding: 40px;
    text-align: center;
}

h1 {
    font-family: 'Georgia', serif;
    font-size: 2.0em;
    text-transform: uppercase;
    color: rgb(184, 16, 16);
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); */
    font-style: italic; 
    font-variant: small-caps; 
}

/* Navigation Styles */
nav ul {
    list-style-type: none;
    margin-top: 30px; ; /* Height of the nav tags*/
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

/* This is the box inside of the nav tags*/
nav ul li a {
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: rgb(196, 127, 127);
    transition: color 0.3s ease;
    background-color: #e0c6c6;
    padding: 10px; 
    border-radius: 5px; 
}

nav ul li a:hover {
    color: #ff6347;
    background-color: #fff; 
}

/* Main content */
main {
    padding: 20px;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

.float-left {
    float: left;
    width: 300px;
    margin-right: 20px;
    border: 2px solid #110909;
    border-radius: 10px;
}

figure img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

figcaption {
    font-size: 0.9em;
    font-style: italic;
    text-align: center;
    padding-top: 5px;
}

/* Paragraph styling */
p {
    font-size: 1.1em;
    font-weight: normal;
    font-style: normal; 
    font-variant: normal; 
}

/* Footer styles */
footer {
    background-color: #e0c6c6; 
    padding: 10px;
    text-align: center;
    color: white;
    font-family: 'Arial', sans-serif;
    border-top: 2px solid #ddd;
    position: fixed; /* Fixes footer at the bottom */
    bottom: 0; /* Sticks to the bottom */
    left: 0; /* Stretches to the left edge */
    width: 100%; /* Full width across the viewport */
}
