body {
 background-color: rgb(230, 212, 248);
 font-family: Arial, Helvetica, sans-serif;
 color:rgb(2, 7, 11);
 background: url("lightgreensneki.jpg");

}

header {
    background: url("usflag.png") top right no-repeat;
    height: 20px;
    width: 50px;
}

h1 h2{
    font-family: Arial, sans-serif;
    font-size: 24px;
}

.homebotton {
    color: rgb(34, 29, 107);
}

.byodotemple {
    font-size: 18px;
}

.crouchinglion {
    font-size: 18px;
}

.hukilaubeach {
    font-size: 18px;
}

.laiefalls {
    font-size: 18px;
}

.waimeavalley {
    font-size: 18px;
}

.list {
    list-style-image:url(hawaiianflower.ico) ;
    list-style-position: inside;
}

nav a {
    color: rgb(43, 80, 28);
    font-family: Arial, sans-serif;
    
}