* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(163, 192, 255);
    text-align: center;
}

nav {
    background-color: rgb(53, 62, 193);
    display: flex;
    justify-content: space-around;
    padding: 0px;
    width: 100%;
    box-sizing: border-box; 
    margin-bottom: 0px;
}

/* Nav Styling */
nav a {
    color: #eadfdf;
    text-decoration: none;
    padding: 10px 30px;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0px; 
}

nav a:hover {
    background-color: #1abc9c; 
    color: #fff;
}

h2 {
    margin: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    margin: 15px;
    text-indent: 30px;
}