body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
}

nav a {
    display: flex;
    text-decoration: none;
    padding: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto; /* 3 columns with equal width */
    border: solid black;
}

div {
    border: solid black; /* Add a border to each div */
    padding: 10px; /* Optional */
}

#footer {
    color: blueviolet;
}