body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: antiquewhite;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.item {
    background-color: azure;
}